In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
from datetime import timedelta

In [2]:
df = pd.read_csv("DATA/babs_open_data_year_1/201402_babs_open_data/201402_trip_data.csv")

In [3]:
df.head()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscription Type,Zip Code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [4]:
df.rename(columns = {'Start Date':'Start Date Time', 'End Date':'End Date Time'}, inplace = True)

In [5]:
df['Start Date'], df['Start Time'] = zip(*df['Start Date Time'].apply(lambda x: x.split(' ')))
df['End Date'], df['End Time'] = zip(*df['End Date Time'].apply(lambda x: x.split(' ')))

In [6]:
df.head()

,Trip ID,Duration,Start Date Time,Start Station,Start Terminal,End Date Time,End Station,End Terminal,Bike #,Subscription Type,Zip Code,Start Date,Start Time,End Date,End Time
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127,8/29/2013,14:13,8/29/2013,14:14
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138,8/29/2013,14:42,8/29/2013,14:43
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214,8/29/2013,10:16,8/29/2013,10:17
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060,8/29/2013,11:29,8/29/2013,11:30
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103,8/29/2013,12:02,8/29/2013,12:04

In [7]:
df.shape

(144015, 15)

In [8]:
df_loc = pd.read_csv("DATA/babs_open_data_year_1/201402_babs_open_data/201402_station_data.csv")

In [9]:
df_loc.head()

,station_id,name,lat,long,dockcount,landmark,installation
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013

In [10]:
df_merged_1 = pd.merge(df, df_loc, left_on='Start Station', right_on='name', how='inner', sort=False)

In [11]:
df_merged_1.shape

(144015, 22)

In [12]:
df_merged_1.head()

,Trip ID,Duration,Start Date Time,Start Station,Start Terminal,End Date Time,End Station,End Terminal,Bike #,Subscription Type,...,Start Time,End Date,End Time,station_id,name,lat,long,dockcount,landmark,installation
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,...,14:13,8/29/2013,14:14,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013
1,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,...,12:02,8/29/2013,12:04,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013
2,4760,113,8/29/2013 17:01,South Van Ness at Market,66,8/29/2013 17:03,South Van Ness at Market,66,553,Subscriber,...,17:01,8/29/2013,17:03,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013
3,5070,168,8/29/2013 21:43,South Van Ness at Market,66,8/29/2013 21:46,South Van Ness at Market,66,598,Subscriber,...,21:43,8/29/2013,21:46,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013
4,4765,228,8/29/2013 17:05,South Van Ness at Market,66,8/29/2013 17:08,Market at 10th,67,553,Subscriber,...,17:05,8/29/2013,17:08,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013

In [13]:
df_merged_1.rename(columns = {'lat':'Start Latitute', 'long':'Start Longitude', 'dockcount': 'Start Station Dockcount', 'landmark': 'Start Station Landmark', 'installation': 'Start Station Installation'}, inplace = True)

In [14]:
df_merged_1.head()

,Trip ID,Duration,Start Date Time,Start Station,Start Terminal,End Date Time,End Station,End Terminal,Bike #,Subscription Type,...,Start Time,End Date,End Time,station_id,name,Start Latitute,Start Longitude,Start Station Dockcount,Start Station Landmark,Start Station Installation
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,...,14:13,8/29/2013,14:14,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013
1,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,...,12:02,8/29/2013,12:04,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013
2,4760,113,8/29/2013 17:01,South Van Ness at Market,66,8/29/2013 17:03,South Van Ness at Market,66,553,Subscriber,...,17:01,8/29/2013,17:03,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013
3,5070,168,8/29/2013 21:43,South Van Ness at Market,66,8/29/2013 21:46,South Van Ness at Market,66,598,Subscriber,...,21:43,8/29/2013,21:46,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013
4,4765,228,8/29/2013 17:05,South Van Ness at Market,66,8/29/2013 17:08,Market at 10th,67,553,Subscriber,...,17:05,8/29/2013,17:08,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013

In [15]:
df_merged_1 = df_merged_1.drop('name', 1)

In [16]:
df_merged_1 = pd.merge(df_merged_1, df_loc, left_on='End Station', right_on='name', how='inner', sort=False)

In [17]:
df_merged_1.head()

,Trip ID,Duration,Start Date Time,Start Station,Start Terminal,End Date Time,End Station,End Terminal,Bike #,Subscription Type,...,Start Station Dockcount,Start Station Landmark,Start Station Installation,station_id_y,name,lat,long,dockcount,landmark,installation
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,...,19,San Francisco,8/23/2013,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013
1,4760,113,8/29/2013 17:01,South Van Ness at Market,66,8/29/2013 17:03,South Van Ness at Market,66,553,Subscriber,...,19,San Francisco,8/23/2013,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013
2,5070,168,8/29/2013 21:43,South Van Ness at Market,66,8/29/2013 21:46,South Van Ness at Market,66,598,Subscriber,...,19,San Francisco,8/23/2013,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013
3,4584,262,8/29/2013 14:17,South Van Ness at Market,66,8/29/2013 14:21,South Van Ness at Market,66,587,Subscriber,...,19,San Francisco,8/23/2013,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013
4,4079,995,8/29/2013 9:35,South Van Ness at Market,66,8/29/2013 9:52,South Van Ness at Market,66,327,Subscriber,...,19,San Francisco,8/23/2013,66,South Van Ness at Market,37.774814,-122.418954,19,San Francisco,8/23/2013

In [18]:
df_merged_1.rename(columns = {'lat':'End Latitute', 'long':'End Longitude', 'dockcount': 'End Station Dockcount', 'landmark': 'End Station Landmark', 'installation': 'End Station Installation'}, inplace = True)

In [19]:
df_merged_1 = df_merged_1.drop('name', 1)

In [20]:
df_merged_1.to_csv("DATA/babs_open_data_year_1/201402_babs_open_data/201402_merged_data.csv", index=False)

In [93]:
df_merged_1.head()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscription Type,...,Start Longitude,Start Station Dockcount,Start Station Landmark,Start Station Installation,station_id_y,End Latitute,End Longitude,End Station Dockcount,End Station Landmark,End Station Installation
0,4576,63,8/29/2013,South Van Ness at Market,66,8/29/2013,South Van Ness at Market,66,520,Subscriber,...,-122.418954,19,San Francisco,8/23/2013,66,37.774814,-122.418954,19,San Francisco,8/23/2013
1,4760,113,8/29/2013,South Van Ness at Market,66,8/29/2013,South Van Ness at Market,66,553,Subscriber,...,-122.418954,19,San Francisco,8/23/2013,66,37.774814,-122.418954,19,San Francisco,8/23/2013
2,5070,168,8/29/2013,South Van Ness at Market,66,8/29/2013,South Van Ness at Market,66,598,Subscriber,...,-122.418954,19,San Francisco,8/23/2013,66,37.774814,-122.418954,19,San Francisco,8/23/2013
3,4584,262,8/29/2013,South Van Ness at Market,66,8/29/2013,South Van Ness at Market,66,587,Subscriber,...,-122.418954,19,San Francisco,8/23/2013,66,37.774814,-122.418954,19,San Francisco,8/23/2013
4,4079,995,8/29/2013,South Van Ness at Market,66,8/29/2013,South Van Ness at Market,66,327,Subscriber,...,-122.418954,19,San Francisco,8/23/2013,66,37.774814,-122.418954,19,San Francisco,8/23/2013

In [96]:
df_merged_1[['Start Time', 'End Time', 'Duration']].head()

  Start Time End Time  Duration
0      14:13    14:14        63
1      17:01    17:03       113
2      21:43    21:46       168
3      14:17    14:21       262
4       9:35     9:52       995

### Fixing End time

In [ ]:
for i in range(len(df)):
    start_dt = datetime.strptime(df['Start Date'].values[i], '%m/%d/%Y %H:%M')
    end_dt = datetime.strptime(df['End Date'].values[i], '%m/%d/%Y %H:%M')
    delta = timedelta(minutes=df['Duration'].values[i])
    actual_end_dt = end_dt+delta
    df['End Date'][i] = actual_end_dt.strftime('%m/%d/%Y %H:%M')

In [21]:
start_dt = datetime.strptime(df['Start Date Time'].values[1], '%m/%d/%Y %H:%M')